@charset "UTF-8";
/* line 2, ../sass/style.scss */
body {
  font-family: "微软雅黑";
  padding-bottom: 50px;
}

/* line 6, ../sass/style.scss */
.section-header {
  padding: 0;
}
/* line 8, ../sass/style.scss */
.section-header ul {
  padding: 0;
}
/* line 10, ../sass/style.scss */
.section-header ul li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
  color: #575d6a;
}
/* line 18, ../sass/style.scss */
.section-title {
  font-size: 20px;
  font-color: #31343b;
}

/* line 25, ../sass/style.scss */
.content-show {
  text-align: center;
  overflow: hidden;
}
/* line 28, ../sass/style.scss */
.content-show img {
  padding-bottom: 15px;
  margin: 0 auto;
}

/* line 33, ../sass/style.scss */
.img-description {
  margin-top: 10px;
  color: #575D6A;
}

/* line 38, ../sass/style.scss */
.producted, .laboratory {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 46, ../sass/style.scss */
.recommedAndAppreisal {
  padding-top: 50px;
}

/* line 51, ../sass/style.scss */
.responsive {
  max-width: 550px;
  margin: 0 auto;
}

/* line 55, ../sass/style.scss */
.recapp-responsive {
  max-width: 550px;
  margin-top: 15px;
  padding-left: 15px;
}
/* line 59, ../sass/style.scss */
.recapp-responsive li {
  margin-bottom: 10px;
  color: #575D6A;
}
/* line 62, ../sass/style.scss */
.recapp-responsive li span {
  float: right;
}

/* line 68, ../sass/style.scss */
.Zlive {
  padding-bottom: 50px;
}

/* line 71, ../sass/style.scss */
.twoAndService {
  background-color: #f6f6f6;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 79, ../sass/style.scss */
.img-responsive {
  max-width: 350px;
}

/* line 82, ../sass/style.scss */
.form-main {
  max-width: 350px;
  padding-left: 15px;
  margin: 0 auto;
}
/* line 87, ../sass/style.scss */
.form span {
  font-size: 12px;
  color: #abb0bc;
}
/* line 91, ../sass/style.scss */
.form input, .form select {
  width: 100%;
  height: 38px;
}

/* line 99, ../sass/style.scss */
.test {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 105, ../sass/style.scss */
.service-btn, .test-btn {
  width: 100%;
  height: 38px;
  color: #FFFFFF;
}

/* line 110, ../sass/style.scss */
.service-btn {
  background-color: #00b06c;
  border: 1px solid #00b06c;
}

/* line 115, ../sass/style.scss */
.test-btn {
  background-color: #008ce1;
  border: 1px solid #008ce1;
}

/* line 125, ../sass/style.scss */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 130, ../sass/style.scss */
.about-us hr {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid #ececec;
}

/* line 137, ../sass/style.scss */
.about {
  padding: 0;
}
/* line 139, ../sass/style.scss */
.about li {
  list-style: none;
  margin-bottom: 15px;
  color: #757e91;
}
/* line 144, ../sass/style.scss */
.about-title {
  font-size: 1.2em;
}

/* line 152, ../sass/style.scss */
.footer-hr {
  width: 100%;
  height: 1px;
  border: none;
  border-top: 1px solid #ececec;
}

/* line 158, ../sass/style.scss */
.link-title {
  display: inline-block;
  width: 80px;
  color: #757e91;
}

/* line 163, ../sass/style.scss */
.link-main {
  display: inline-block;
}
/* line 165, ../sass/style.scss */
.link-main ul {
  padding: 0;
}
/* line 167, ../sass/style.scss */
.link-main ul li {
  display: inline-block;
  list-style: none;
  margin-left: 50px;
  margin-bottom: 20px;
  color: #757e91;
}

/* line 177, ../sass/style.scss */
.banquan {
  color: #757e91;
  text-align: center;
}

/* line 181, ../sass/style.scss */
.footer-720 {
  text-align: center;
  display: none;
  color: #757e91;
  padding-top: 20px;
}

/* line 1, ../sass/_animation.scss */
.animation-one .animation-text {
  color: #F5F5F5;
  font-family: "微软雅黑";
  font-size: 18px;
  position: absolute;
  top: 40%;
  left: 46%;
  opacity: 0;
  transform: translate(0, 100px);
}

/* line 11, ../sass/_animation.scss */
.animation-one .animate-left {
  color: #F5F5F5;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 33%;
  transform: translate(-100px, 0);
}

/* line 19, ../sass/_animation.scss */
.animation-one .animate-right {
  color: #F5F5F5;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(120px, 0);
}

@media screen and (min-width: 768px) {
  /* line 28, ../sass/_animation.scss */
  .content-show {
    position: relative;
  }

  /* line 31, ../sass/_animation.scss */
  .animation-one:hover .animation-text {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.35s;
  }

  /* line 36, ../sass/_animation.scss */
  .animation-one:hover .animate-left {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.35s;
  }

  /* line 41, ../sass/_animation.scss */
  .animation-one:hover .animate-right {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.35s;
  }

  /* line 52, ../sass/_animation.scss */
  .animation-two img {
    transition: all 0.35s;
  }

  /* line 55, ../sass/_animation.scss */
  .animation-two:hover img {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 720px) {
  /* line 2, ../sass/_media-720.scss */
  #slidershow {
    display: none;
  }

  /* line 5, ../sass/_media-720.scss */
  .section-header ul li {
    padding-bottom: 20px;
  }

  /* line 8, ../sass/_media-720.scss */
  .section-title {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* line 15, ../sass/_media-720.scss */
  .recapp-responsive li span {
    display: none;
  }

  /* line 18, ../sass/_media-720.scss */
  .footer {
    display: none;
  }

  /* line 21, ../sass/_media-720.scss */
  .footer-720 {
    display: block;
  }
}
@media screen and (max-width: 1080px) {
  /* line 2, ../sass/_media-1080.scss */
  .recapp-responsive {
    padding-left: 50px;
  }

  /* line 5, ../sass/_media-1080.scss */
  .form-main {
    padding-left: 0;
  }
}
